* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
}

.header_logo {
    margin-top: 87px;
}

.header_logo {
    display: inline-flex;
}

.jwersic_logo_pic {
    max-height: 63px;
}

.jwersic_text_div {
    color: #000000;
    max-width: 255px;
    max-height: 72px;
}

.jwersic_text {
    font-family: Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 72px;
}

/* ============================== МЕНЮ ============================== */

.menu-list {
    list-style: none;
    left: 226px;
    margin: 38px 0;
    align-items: stretch;
    padding-left: 60px;
}

.menu-list li {
    display: inline-block;
}

.menu-list li:after {
    color: #000000;
    display: inline-block;
    vertical-align: top;
}

.menu-list li:last-child:after {
    content: none;
}

.menu-list a {
    text-decoration: none;
    font-family: Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    position: relative;
    margin-right: 70px;
    display: inline-block;
    transition: color .2s;
}

.menu-list a,
.menu-list a:visited {
    color: #000000;
}

.menu-list a:before,
.menu-list a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #f3e5ab;
    transition: .8s;
}

.menu-list a:hover:before,
.menu-list .current:before {
    left: 0;
}

.menu-list a:hover:after,
.menu-list .current:after {
    right: 0;
}

/* ============================== СОЦ СЕТИ ============================== */

.socialmedia {
    display: inline-flex;
    justify-content: center;
    max-width: 27px;
    max-height: 26px;
}

.instagram {
    margin-right: 30px;
    justify-content: center;
    max-width: 100%;
    max-height: 26px;
}

.telegram {
    margin-right: 30px;
    justify-content: center;
    max-width: 27px;
    max-height: 26px;
}

/* ============================== MIDDLE PART ============================== */

.middle-box {
    margin: 62px 0
}

.left_1 {
    max-width: 50%;
    max-height: 50%;
}